CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_coreutils-nohup=m
CONFIG_PACKAGE_dnsmasq-full=m
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ipset=m
CONFIG_PACKAGE_kmod-inet-diag=m
CONFIG_PACKAGE_kmod-ipt-ipset=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcap-bin=m
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libnetfilter-conntrack=m
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnfnetlink=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_libruby=m
CONFIG_PACKAGE_libyaml=m
CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_luci-compat=m
CONFIG_PACKAGE_ruby=m
CONFIG_PACKAGE_ruby-bigdecimal=m
CONFIG_PACKAGE_ruby-date=m
CONFIG_PACKAGE_ruby-dbm=m
CONFIG_PACKAGE_ruby-digest=m
CONFIG_PACKAGE_ruby-enc=m
CONFIG_PACKAGE_ruby-forwardable=m
CONFIG_PACKAGE_ruby-pstore=m
CONFIG_PACKAGE_ruby-psych=m
CONFIG_PACKAGE_ruby-stringio=m
CONFIG_PACKAGE_ruby-strscan=m
CONFIG_PACKAGE_ruby-yaml=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_zlib=m