CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86_generic_DEVICE_generic=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y
CONFIG_OPENSSL_WITH_ASM=y
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
CONFIG_OPENSSL_WITH_CMS=y
CONFIG_OPENSSL_WITH_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_PSK=y
CONFIG_OPENSSL_WITH_SRP=y
CONFIG_OPENSSL_WITH_SSE2=y
CONFIG_OPENSSL_WITH_TLS13=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_cgi-io=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-nohup=m
CONFIG_PACKAGE_coreutils-stat=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_dnsmasq-full=m
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_dnsmasq_full_tftp=y
CONFIG_PACKAGE_etherwake=m
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_ip-full=m
CONFIG_PACKAGE_ipset=m
# CONFIG_PACKAGE_iptables-mod-extra is not set
# CONFIG_PACKAGE_iptables-mod-tproxy is not set
# CONFIG_PACKAGE_kmod-ipt-extra is not set
CONFIG_PACKAGE_kmod-ipt-ipset=m
# CONFIG_PACKAGE_kmod-ipt-tproxy is not set
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
# CONFIG_PACKAGE_kmod-nf-tproxy is not set
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcap-bin=m
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libevent2-core=m
CONFIG_PACKAGE_libevent2-openssl=m
CONFIG_PACKAGE_libgmp=m
CONFIG_PACKAGE_libipset=m
CONFIG_PACKAGE_libiwinfo=m
CONFIG_PACKAGE_libiwinfo-data=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua=m
CONFIG_PACKAGE_liblucihttp=m
CONFIG_PACKAGE_liblucihttp-lua=m
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libnetfilter-conntrack=m
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnfnetlink=m
CONFIG_PACKAGE_libopenssl=m
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libreadline=m
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_libruby=m
CONFIG_PACKAGE_libstdcpp=m
CONFIG_PACKAGE_libubus-lua=m
CONFIG_PACKAGE_libuci-lua=m
CONFIG_PACKAGE_libyaml=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_luci-app-opkg=m
CONFIG_PACKAGE_luci-app-shadowsocks-libev=m
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-store=m
CONFIG_PACKAGE_luci-app-tor=m
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-wol=m
CONFIG_PACKAGE_luci-app-xfrpc=m
CONFIG_PACKAGE_luci-base=m
CONFIG_PACKAGE_luci-i18n-base-zh-cn=m
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-opkg-zh-cn=m
CONFIG_PACKAGE_luci-i18n-shadowsocks-libev-zh-cn=m
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=m
CONFIG_PACKAGE_luci-i18n-tor-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=m
CONFIG_PACKAGE_luci-lib-base=m
CONFIG_PACKAGE_luci-lib-ip=m
CONFIG_PACKAGE_luci-lib-ipkg=m
CONFIG_PACKAGE_luci-lib-jsonc=m
CONFIG_PACKAGE_luci-lib-nixio=m
CONFIG_PACKAGE_luci-lib-taskd=m
CONFIG_PACKAGE_luci-lib-xterm=m
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_rpcd=m
CONFIG_PACKAGE_rpcd-mod-file=m
CONFIG_PACKAGE_rpcd-mod-luci=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_rsync=m
CONFIG_PACKAGE_ruby=m
CONFIG_PACKAGE_ruby-bigdecimal=m
CONFIG_PACKAGE_ruby-date=m
CONFIG_PACKAGE_ruby-dbm=m
CONFIG_PACKAGE_ruby-digest=m
CONFIG_PACKAGE_ruby-enc=m
CONFIG_PACKAGE_ruby-forwardable=m
CONFIG_PACKAGE_ruby-pstore=m
CONFIG_PACKAGE_ruby-psych=m
CONFIG_PACKAGE_ruby-stringio=m
CONFIG_PACKAGE_ruby-strscan=m
CONFIG_PACKAGE_ruby-yaml=m
CONFIG_PACKAGE_script-utils=m
CONFIG_PACKAGE_tar=m
CONFIG_PACKAGE_taskd=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tor=m
CONFIG_PACKAGE_tor-hs=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_vlmcsd=m
CONFIG_PACKAGE_wget-nossl=y
CONFIG_PACKAGE_wget-ssl=m
CONFIG_PACKAGE_xfrpc=m
CONFIG_PACKAGE_xz=m
CONFIG_PACKAGE_xz-utils=m
CONFIG_PACKAGE_zlib=y
CONFIG_ZSTD_OPTIMIZE_O3=y
# CONFIG_PACKAGE_kmod-inet-diag is not set
# CONFIG_PACKAGE_luci-compat is not se